app-room-list{
    display: inline-block;
    width:70%;
}

app-shop-list{
    display: inline-block;
    width:30%;
}

#myProfile{
    position: absolute;
    right: 3%;
}
svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }