.nav-link:hover{
    cursor: pointer;
}
.editBtn{
    cursor: pointer;
}

.toast{
    opacity: 20 !important;
    max-width: 250px !important;
    .toast-header{
        background-color: #fff3cd !important;
    }
}

.myToast{
    margin-left: 35%;
    .toast-header{
        background-color:#d1ecf1 !important;
    }
}