<button type="button" class="close mt-n3 mr-n2" mat-dialog-close="false" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button type="button" class="btn btn-light" id="compteTab" role="tab" (click)="openTab('compte')">
          <mat-icon>account_circle</mat-icon><br>
          <span>Compte</span>
        </button>
        <button type="button" class="btn btn-light " id="secuTab" (click)="openTab('secu')" role="tab" aria-controls="v-pills-profile" aria-selected="false">
          <mat-icon>lock</mat-icon><br>
          <span>Confidentialité & Sécurité</span>
        </button>
        <button type="button" class="btn btn-light " id="familyTab"  (click)="openTab('family')" role="tab" aria-controls="v-pills-messages" aria-selected="false">
          <mat-icon>groups</mat-icon><br>
          <span>Ma Famille</span>
        </button>
        <button type="button" class="btn btn-light " id="paraTab"  (click)="openTab('para')" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          <mat-icon>settings</mat-icon><br>
          <span>Paramètres</span>
        </button>
        <button type="button" class="btn btn-light " id="decoTab" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          <mat-icon>power_settings_new</mat-icon><br>
          <span>Deconnexion</span>        
        </button>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <!-- Compte -->
        <div *ngIf="tabSelected == 'compte';" class="tab-pane fade show active" id="comptePills" role="tabpanel">
          <div class="card">
            <h3 class="card-header">Compte</h3>
            <div class="card-body">
              <form class="card-text">
                <div class="form-group">
                  <label for="inputEmail1">Addresse E-mail</label>
                  <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp"placeholder="kevin.walson@gmail.com" readonly>
                  <small id="emailHelp" class="form-text text-muted">Pour changer d'e-mail, veuillez contacter le support.</small>
                </div>
                <div class="input-group flex-nowrap form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Pseudo" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                  <mat-label class="mr-5">
                    <mat-icon>notifications</mat-icon>
                    <span class="ml-2" style="vertical-align: top;">Notifications</span>
                  </mat-label>
                  <mat-slide-toggle class="ml-3" color="primary" style="vertical-align: top;"></mat-slide-toggle>
                </div>
                <div class="form-group">
                  <mat-label class="mr-5">
                    <mat-icon>flaky</mat-icon>
                    <span class="ml-2" style="vertical-align: top;">Mode sombre</span>
                  </mat-label>
                  <mat-slide-toggle class="ml-2" color="primary" style="vertical-align: top;"></mat-slide-toggle>
                </div>
                <div class="form-group">
                  <mat-label class="mr-1">
                    <mat-icon>euro_symbol</mat-icon>
                    <span class="ml-2" style="vertical-align: top;">Paiement automatique</span>
                  </mat-label>
                  <mat-slide-toggle color="primary" style="vertical-align: top;"></mat-slide-toggle>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block">Sauvegarder</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Securite -->
        <div *ngIf="tabSelected == 'secu';" class="tab-pane fade show active" id="secuPills" role="tabpanel" >
          ... Securite
        </div>
        <!-- Famille -->
        <div *ngIf="tabSelected == 'family';" class="tab-pane fade show active" id="familyPills" role="tabpanel" >
          ... Famille
        </div>
        <!-- Paramètres -->
        <div *ngIf="tabSelected == 'para';" class="tab-pane fade show active" id="paraPills" role="tabpanel">
          ... Paramètres
        </div>
      </div>
    </div>
  </div>
