<button type="button" class="close mt-n3 mr-n2" (click)="onNoClick()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button type="button" class="btn btn-light" id="compteTab" role="tab" (click)="openTab('compte')">
          <mat-icon>account_circle</mat-icon><br>
          <span>Compte</span>
        </button>
        <button type="button" class="btn btn-light " id="secuTab" (click)="openTab('secu')" role="tab" aria-controls="v-pills-profile" aria-selected="false">
          <mat-icon>lock</mat-icon><br>
          <span>Confidentialité & Sécurité</span>
        </button>
        <button type="button" class="btn btn-light " id="familyTab"  (click)="openTab('family')" role="tab" aria-controls="v-pills-messages" aria-selected="false">
          <mat-icon>groups</mat-icon><br>
          <span>Ma Famille</span>
        </button>
        <button type="button" class="btn btn-light " id="paraTab"  (click)="openTab('para')" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          <mat-icon>settings</mat-icon><br>
          <span>Paramètres</span>
        </button>
        <button type="button" class="btn btn-light " id="decoTab" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false" (click)="userLogout">
          <mat-icon>power_settings_new</mat-icon><br>
          <span>Deconnexion</span>        
        </button>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <!-- Compte -->
        <div *ngIf="tabSelected == 'compte';" class="tab-pane fade show active" id="comptePills" role="tabpanel">
          <div class="card">
            <h3 class="card-header">Compte</h3>
            <div class="card-body">
              <form class="card-text">
                <!-- Email-->
                <div class="form-group">
                  <label for="inputEmail1">Addresse E-mail :</label>
                  <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="{{userData.email}}" name="email" readonly>
                  <small id="emailHelp" class="form-text text-muted">Pour changer d'e-mail, veuillez contacter le support.</small>
                </div>
                <!-- Nom & Prenom -->
                <div class="form-group row mb-4">
                  <div class="col">
                    <label for="first">Prénom :</label>
                    <input type="text" id="first" class="form-control" name="first" placeholder="Prénom" [(ngModel)]="userData.firstName">
                  </div>
                  <div class="col">
                    <label for="last">Nom :</label>
                    <input type="text" id="last" class="form-control" name="last" placeholder="Nom" [(ngModel)]="userData.lastName">
                  </div>
                </div>
                <!-- Pseudo -->
                <div class="input-group flex-nowrap form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="userData.pseudo" placeholder="Pseudo" aria-label="Username" aria-describedby="addon-wrapping" name="pseudo" id="psuedo">
                </div>
                <!-- Mot de Passe -->
                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe :</label>
                  <div class="input-group">
                    <input [type]="hide ? 'text' : 'password'" class="form-control" id="exampleInputPassword">
                    <div class="input-group-append">
                      <button class="input-group-text" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                
                <button type="submit" class="btn btn-outline-primary btn-block" [mat-dialog-close]="userData">Sauvegarder</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Securite -->
        <div *ngIf="tabSelected == 'secu';" class="tab-pane fade show active" id="secuPills" role="tabpanel" >
          <div class="card">
            <h3 class="card-header">Confidentialité & Sécurité</h3>
            <div class="card-body">
              <div class="card-text">
                <h4>Carte enregistrée :</h4>
                <div class="form-group">
                  <mat-expansion-panel *ngFor="let card of cards" (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mb-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon>payment</mat-icon>
                        <span class="ml-2">{{ card.numero }}</span>
                      </mat-panel-title>
                      <mat-panel-description>
                        {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div *ngIf="!card.isEdit; else elseBlock">
                      <p class="mb-0">Date d'éxpiration</p>
                      <span>{{ card.expirationDate | date:'shortDate'}}</span><br>

                      <button type="button" class="btn btn-outline-warning btn-block mt-4 mb-3" (click)="editCard(card.id)">
                        <mat-icon style="vertical-align:middle;">edit</mat-icon>
                        <span class="ml-2">Modifier</span>
                      </button>
                    </div>

                    <ng-template #elseBlock >
                      <div class="form-row">
                        <mat-form-field appearance="outline" class="col">
                          <mat-label>Date d'éxpiration</mat-label>
                          <input matInput [matDatepicker]="picker" [(ngModel)]="card.expirationDate" name="date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <mat-label>Cvv</mat-label>
                            <input matInput type="number" placeholder="Cvv" [(ngModel)]="card.cvv" name="cvv">
                          </mat-form-field>
                        </div>  
                      </div>
                      
                      <button type="button" class="btn btn-outline-success btn-block mt-4 mb-3" (click)="validateCard(card.id)">
                        <mat-icon style="vertical-align:middle;">done_outline</mat-icon>
                        <span class="ml-2">Valider</span>
                      </button>
                    </ng-template>

                    <button type="button" class="btn btn-outline-danger btn-block">
                      <mat-icon style="vertical-align:middle;">clear</mat-icon>
                      <span class="ml-2">Supprimer</span>
                    </button><br>
                    <mat-divider></mat-divider><br>
                    <button type="button" class="btn btn-success btn-block">
                      <mat-icon style="vertical-align:middle;">add_circle_outline</mat-icon>
                      <span class="ml-2">Ajouter un moyen de paiement ou utiliser une carte virtuelle</span>
                    </button>
                  </mat-expansion-panel>
                </div>
                <div class="form-group">
                  <mat-label class="mr-1">
                    <mat-icon>euro_symbol</mat-icon>
                    <span class="ml-2" style="vertical-align: top;">Paiement automatique</span>
                  </mat-label>
                  <mat-slide-toggle color="primary" style="vertical-align: top;" [(ngModel)]="paiement" name="paiement"></mat-slide-toggle>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block" mat-dialog-close="true">Sauvegarder</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Famille -->
        <div *ngIf="tabSelected == 'family';" class="tab-pane fade show active" id="familyPills" role="tabpanel" >
          <div class="row">
            <!-- Users Block-->
            <div class="col">
              <!--Admin users Block-->
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mb-3">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>how_to_reg</mat-icon>
                  </mat-panel-title>
                  <mat-panel-description>
                    Utilisateurs autorisés
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item>
                    <mat-icon>account_circle</mat-icon>
                    <span class="ml-2" style="vertical-align: top;">Papa (moi)</span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <mat-icon>account_circle</mat-icon>
                    <span class="ml-2" style="vertical-align: top;">Maman</span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <button type="button" class="btn btn-outline-success btn-block mt-4 mb-2">
                      <mat-icon style="vertical-align:middle;">add_circle_outline</mat-icon>
                      <span class="ml-2">Ajouter un utilisateur</span>
                    </button>
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>

              <!-- Other Users block-->
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mb-4">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>groups</mat-icon>
                  </mat-panel-title>
                  <mat-panel-description>
                    Autres utilisateurs
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item>
                    <mat-icon>account_circle</mat-icon>
                    <span class="ml-2" style="vertical-align: top;">Fille</span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <mat-icon>account_circle</mat-icon>
                    <span class="ml-2" style="vertical-align: top;">Fils</span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <button type="button" class="btn btn-outline-success btn-block mt-4 mb-2">
                      <mat-icon style="vertical-align:middle;">add_circle_outline</mat-icon>
                      <span class="ml-2">Ajouter un utilisateur</span>
                    </button>
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>

              <!--Save modification btn-->
              <button type="submit" class="btn btn-outline-primary btn-block" mat-dialog-close="true">Sauvegarder</button>
            </div>
            <!--Historic Block-->
            <div class="col">
              <div class="card">
                <h3 class="card-header">Historique des actions</h3>
                <div class="card-body">
                  
                  <div class="toast" aria-live="assertive" aria-atomic="true" *ngFor="let toast of historicToasts" [ngClass]="{'myToast' : toast.isMe}">
                    <div class="toast-header">
                      <strong class="mr-auto">{{toast.modifName}}</strong>
                      <small>Il y a {{toast.modifTime}}</small>
                    </div>
                    <div class="toast-body">
                      A diminuer de ({{toast.modifQuant}}) les {{toast.modifItem}} dans {{toast.modifRoom}}.
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
          
        </div>
        <!-- Paramètres -->
        <div *ngIf="tabSelected == 'para';" class="tab-pane fade show active" id="paraPills" role="tabpanel">
          <div class="card">
            <h3 class="card-header">Paramètres</h3>
            <div class="card-body">
              <div class="card-text">
                <!-- notifications radio -->
                <div class="form-group">
                  <mat-label class="mr-5">
                    <mat-icon>notifications</mat-icon>
                    <span class="ml-2" style="vertical-align: top;">Notifications</span>
                  </mat-label>
                  <mat-slide-toggle class="ml-3" color="primary" style="vertical-align: top;" [(ngModel)]="userData.alert" name="alert"></mat-slide-toggle>
                </div>
                <!--dark mode radio -->
                <div class="form-group">
                  <mat-label class="mr-5">
                    <mat-icon>flaky</mat-icon>
                    <span class="ml-2" style="vertical-align: top;">Mode sombre</span>
                  </mat-label>
                  <mat-slide-toggle class="ml-2" color="primary" style="vertical-align: top;" [(ngModel)]="darkMode" name="darkMode"></mat-slide-toggle>
                </div>
                <!-- low quant/ shop list-->
                <div class="form-group">
                  <p>Veillez régler la quantité minimal pour que le produit s'ajoute automatiquement dans votre liste de courses.</p>
                  <div class="row">
                    <!--Slider-->
                    <div class="col-9">
                      <mat-label class="mr-2">
                        <mat-icon style="vertical-align: middle;">add_shopping_cart</mat-icon>
                      </mat-label>
                      <mat-slider
                        style="min-width: 90%;"
                        color="primary"
                        [(ngModel)]="userData.lowQuant"
                        thumbLabel
                        tickInterval="1"
                        min="0"
                        max="10">
                      </mat-slider>
                    </div>
                    <!--Input-->
                    <div class="col-3">
                      <mat-form-field appearance="outline" class="col">
                        <mat-label>Quantité</mat-label>
                        <input matInput type="number" placeholder="Quantité" [(ngModel)]="userData.lowQuant" name="lowQuant" max="10" min="0">
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <!--Save modification btn-->
                <button type="submit" class="btn btn-outline-primary btn-block" [mat-dialog-close]="userData">Sauvegarder</button>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
