<div class="card text-center roomCard">
    <div class="card-header">
        <div *ngIf="!isModify; else elseBlock">{{ roomName }}</div>
        <ng-template #elseBlock class="row">
            <input type="text" id="roomNameInput" class="form-control" name="roomName" placeholder="Le nouveau nom ?" [(ngModel)]="roomName">
        </ng-template>
    </div>
    <div class="card-body">
        <!-- card of  all Items -->
      <h5 class="card-title">Liste des items :</h5>
      <div class="card-text">
          <!-- card for one Items-->
          <div class="row mb-4">
            <app-items *ngFor="let item of items"
              [imgLink]="item.imgLink" 
              [name]="item.name" 
              [quant]="item.quant" 
              [maxQuant]="item.maxQuant"
              [isEdit]="item.isEdit"
              class="mx-2">
            </app-items>
          </div>
          
        </div>
      <button type="button" class="btn btn-outline-warning" *ngIf="!isModify; else elseBlock2" (click)="changeRoomName()">Modifier</button>
      <ng-template #elseBlock2 class="row">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary" (click)="openDialog()">
          Ajouter un item
        </button>

        <button type="button" class="btn btn-outline-success ml-5" (click)="validateChangeRoomName()">valider</button>
      </ng-template>

      
    </div>
    <div class="card-footer text-muted">
      {{ lastModif }}
    </div>
</div>